<%- include('../layouts/admin/header.ejs') %>
<%- include('../layouts/admin/sidebar.ejs') %>
<main class="main-wrap">
    <%- include('../layouts/admin/navbar.ejs') %>
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order List </h2>
                <p>Detailed Order History.</p>
            </div>
            <div>
                <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Total</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date & Time</th>
                                <th scope="col" class="text-center"> Action </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach((order) => { %>
                                <tr>
                                    <td>#<%= order.user._id.toString().slice(-5) %></td>
                                    <td><b><%= order.user.name %></b></td>
                                    <td><%= order.user.email %></td>
                                    <td><%= order.total %></td>
                                    <td>
                                        <% if(order.order_status === "Pending") { %>
                                        <span class="badge rounded-pill alert-warning">Pending</span>
                                        <% } else if(order.order_status === "Cancelled") { %>
                                        <span class="badge rounded-pill alert-danger">Cancelled</span>
                                        <% } else if(order.order_status === "Confirmed") { %>
                                        <span class="badge rounded-pill alert-success">Confirmed</span>
                                        <% } else if(order.order_status === "Shipped") { %>
                                        <span class="badge rounded-pill alert-success">Shipped</span>
                                        <% } else if(order.order_status === "Delivered") { %>
                                        <span class="badge rounded-pill alert-success">Delivered</span>
                                        <% } %>
                                    </td>
                                    <td><%= new Date(order.createdAt).toLocaleString() %></td>
                                    <td class="text-end">
                                        <a href="/admin/order_details/<%= order._id%>" class="btn btn-md rounded font-sm mr-20">Detail</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <li class="page-item active"><a class="page-link" href="#">01</a></li>
                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="#">16</a></li>
                    <li class="page-item"><a class="page-link" href="#"><i
                                class="material-icons md-chevron_right"></i></a></li>
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
</main>

<%- include('../layouts/admin/footer.ejs') %>